<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      <img src="assets/imgs/about/logo.png" alt="Logo SpaceX">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="spinner" *ngIf="launchTimeCountDown === undefined">
    <ion-spinner color="primary" name='crescent'></ion-spinner>
  </div>
  <div class="nextLaunchCountDown" *ngIf="launchTimeCountDown">
    <h4 ion-text color="light" text-center>Next Launch</h4>
    <h2 ion-text color="light" text-center> {{ nextLaunch.mission_name }} </h2>
    <ion-row text-center class="countDown">
      <ion-col>
        <h1 ion-text color="light">{{ launchTimeCountDown.day }}</h1>
        <p ion-text color="light">DAYS</p>
      </ion-col>

      <ion-col>
        <h1 ion-text color="light">{{ launchTimeCountDown.hour }}</h1>
        <p ion-text color="light">HOURS</p>
      </ion-col>

      <ion-col>
        <h1 ion-text color="light">{{ launchTimeCountDown.minute }}</h1>
        <p ion-text color="light">MINUTES</p>
      </ion-col>

      <ion-col>
        <h1 ion-text color="light">{{ launchTimeCountDown.seconds }}</h1>
        <p ion-text color="light">SECONDS</p>
      </ion-col>
    </ion-row>

    <ion-row text-center>
      <ion-col>
        <button ion-button color="light" round (click)="seeLaunchDetails()">See Details</button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
