page-launches {
    .item-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 50%;
    position: relative;
    max-width: 95%;
    margin: 10px 0 3px 0;
    transform: translateX(-50%);
  }

  .list-ios .item-block .item-inner, .list-ios .item-block .item-inner, .list-ios > .item-block:first-child {
    border: none;
  }

}
