// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.space{
  margin-bottom: 33px;
}

.cardContent {
  margin: 12px;
}

.login-form{
  text-align: center;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.header-nav{
  background-image: url('../assets/imgs/rockets/logo.jpg');
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  .header-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 0;
  }
  h3{
    color: white;
    margin-left: 10px;
    z-index: 1;
  }

}
.active{
  background-color: rgba(0,0,0,0.04);
}
